{% load staticfiles %}
<!doctype html>
<html lang="it">
<head>
  <title></title>
 
<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div align=center>
  <div id="header">
        <h1>Benvenuto nel portale di test per la Pizzeria di Giuseppe Agostini</h1>
  </div>
  <div id="content">
        <h2> Azioni Disponibili:
        <br><br>
            1- <a href="/prenota">Visualizza le pizze</a><br><br>
           
        </h2>
  </div>
  <div id="footer">
        <h3>Grazie per la Visita, se deideri puoi lasciarmi un messaggio</h3>
  </div>
  
  
  
  
  </div>

</body>
</html>
